a{
  text-decoration: none;
  color: aliceblue;
}

body{
  background-image: url(./img/background.jpg);
  background-size: cover;
  width: 100vw;
}

.mainMain{
  width: 100%;
  min-height: 92vh;
}

*{
  font-family: 'Teko', sans-serif;
}

.App {
  text-align: center;
  
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flexrow{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flexcolumn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.test{
  border: 2px solid rgba(0, 0, 0, 0.356);
}



